## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
b = 8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [12]:
nombre = "Milagros"

5) Crear una variable que contenga un número complejo

In [17]:
c = 32155.05/11 + 96j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [18]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [19]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
d = "True"
e = True
print(d == e)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print(type(d))
print(type(e))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
f = 5
g = 1.2
h = f + g
print(h)

6.2

11) Realizar una operación de suma de números complejos

In [26]:
i = 56 + 2j
j = 12 + 3.6j
print(i + j)

(68+5.6j)

12) Realizar una operación de suma de un número real y otro complejo

In [29]:
print (j + 8)

(20+3.6j)

13) Realizar una operación de multiplicación

In [30]:
l = 85*3
print(l)

255

14) Mostrar el resultado de elevar 2 a la octava potencia

In [31]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
m = 27/4
print(m)

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:

print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
print(4 * 6 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [38]:
print("hola" + " mundo")

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
print("2" == 2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [40]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
a = float("3.8")  
print(f"porque se usa el . no la , {a}")

porque se usa el . no la , 3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [55]:
n = 3
n -= 1
print(n)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
o = 1 << 2
print(f"Da {o} como resultado porque desplaza un bit a la izquierda en el numero 1")

Da 4 como resultado porque desplaza un bit a la izquierda en el numero 1

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
print(" la operacion 2 + \"2\" da error porque no podes sumar un int a un str")

 la operacion 2 + "2" da error porque no podes sumar un int a un str

26) Realizar una operación válida entre valores de tipo entero y string

In [61]:
p = "hola "
q = 2
print(p * 3)

hola hola hola